/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Gaya untuk body */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
}

/* Container login */
.login-container {
    width: 350px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Judul */
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Label dan input field */
.login-container label {
    margin-bottom: 5px;
    display: block;
    color: #555;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Tombol login */
.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #6ab0ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover {
    background-color: #0066cc;
}

/* Pesan error */
.error-message {
    color: red;
    text-align: center;
    margin-bottom: 10px;
}
